/*一像素线*/
.am-tabs-tab-bar-wrap{
    position: relative;
}
.am-tabs-tab-bar-wrap::after{
    content: '';
    position: absolute;
    background-color: #ddd;
    display: block;
    z-index: 1;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0PX;
    transform-origin: 50% 100%;
    transform: scaleY(0.5);
}