.am-tabs-tab-bar-wrap::after {
    border:0 !important;
    height:0 !important;
    background: rgba(0, 0,0, 0);
    z-index: -1 !important;
}

.am-tab-bar-bar::before {
    border:0 !important;
    height:0 !important;
    background: rgba(0, 0,0, 0);
    z-index: -1 !important;
}

.am-tab-bar-item {
    width: 100%;
    height: calc(100% - 4px);
    /* box-shadow: 100px 100px 200px #999 ; */
    box-shadow:  0 1px 10px -3px #999 ;  
    z-index: 999;
    /* border-top:1px solid #999; */
    margin-top: 4px;
}